@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');
* {
  font-family: 'Oswald', sans-serif;
  font-optical-sizing: auto;
}

h1, h2, h3, h4 {
  font-weight: 200;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.8rem;
  line-height: 1.2;
}
h3 {
  font-size: 2rem;
  line-height: 1.2;
}
.em {
  font-weight: 500;
}

.underscore {
  box-shadow: inset 0 -5px 0 0 rgba(48, 82, 82, 0.3);
  transition: box-shadow 0.2s ease-out;
}
.underscore:hover, .underscore:focus {
  box-shadow: inset 0 -18px 0 0 rgba(48, 82, 82, 0.3);
  transition-timing-function: ease-in;
}

.mono {
  font-family: 'IBM Plex Mono', monospace;
}

/* Responsive container of the svg element */
.responsive-svg-container {
  width: 100%;
  max-width: 1000px;
}
@media screen and (max-width: 596px) {
  .responsive-svg-container {
    margin-bottom: 20px;
  }
}

/* Axis and labels styles */
.tick text {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
